In [143]:
from pymongo import MongoClient
import pandas as pd


class MongoRestaurant:
    def __init__(self, uri: str, db_name: str):
        self.client = MongoClient(uri)
        self.db = self.client[db_name]

    def upload(self, data_json_name, collection_name):
        df = pd.read_json(data_json_name)
        collection = self.db[collection_name]
        collection.insert_many(df.to_dict('records'))


if __name__ == '__main__':
    mongo = MongoRestaurant('mongodb://localhost:30001', 'restaurant_db')

    mongo.upload('clients.json', 'clients')
    mongo.upload('orders.json', 'orders')
    mongo.upload('restaurants.json', 'restaurants')

FileNotFoundError: File clients.json does not exist

In [ ]:
mongo = MongoRestaurant('mongodb://localhost:30001', 'restaurant_db')
mongo.upload('clients.json', 'clients')
mongo.upload('orders.json', 'orders')
mongo.upload('restaurants.json', 'restaurants')

In [121]:
from datetime import datetime
import psycopg2
import json

In [135]:
def get_data_from_postgres(sql_query, db_params):
    """Возвращает данные из PostgreSQL в виде списка кортежей."""

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    cur.execute(sql_query)
    data = cur.fetchall()

    column_names = [desc[0] for desc in cur.description]
    cur.close()
    conn.close()

    return data, column_names


def upload_pstg_to_postrges(data, table_name, db_params):
    """ Загружаем данные в staging. """
    time = datetime.now()
    conn = psycopg2.connect(**db_params)

    for row in data:
        values_json = json.dumps(row, ensure_ascii=False)
        cur = conn.cursor()
        cur.execute(
            f"INSERT INTO staging_pstg_{table_name} (table_name, time, values) VALUES (%s, %s, %s)",
            (table_name, time, values_json)
        )
        conn.commit()
    cur.close()
    conn.close()


def get_cursor_date(db_params, table, time_feature):
    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()
    sql_query = f"""
               SELECT cursor_time 
               FROM cursor_timestamp
               WHERE table_name = 'logs'
            """
    cur.execute(sql_query)
    data = cur.fetchall()
    curs_time = str(data[0][0])
    cur.close()
    
    cur = conn.cursor()
    sql_query = f"""
               SELECT time 
               FROM {table}
               WHERE time = (SELECT max(time) FROM {table});
            """
    print(sql_query)
    cur.execute(sql_query)
    data = cur.fetchall()
    max_date = str(data[0][0])
    cur.close()

    max_date = max(max_date, curs_time)
    
    cur = conn.cursor()
    sql_query = f"""
               UPDATE cursor_timestamp
               SET cursor_time = '{max_date}'
               WHERE table_name = '{table}';
            """
    cur.execute(sql_query)
    cur.close()
    return max_date

def unload_pstg_to_stg(table):
    db_params = {
        'dbname': 'test',
        'user': 'airflow',
        'password': 'airflow',
        'host': 'localhost',
        'port': '5432'
    }
    cursor_date = get_cursor_date(db_params, table, 'time')

    sql_query = f"""
                   SELECT values 
                   FROM logs
                   WHERE table_name = '{table}' AND time > '{cursor_date}'
                """
    data, column_names = get_data_from_postgres(sql_query, db_params)
    data = [row[0] for row in data]

    if len(data) == 0:
        print('No actual data')
        return
    upload_pstg_to_postrges(data, table, db_params)

In [136]:
unload_pstg_to_stg(table='category')

               SELECT time
               FROM category
               WHERE time = (SELECT max(time) FROM category);

UndefinedColumn: column "time" does not exist
LINE 2:                SELECT time
                              ^
HINT:  Perhaps you meant to reference the column "category.name".

In [ ]:
db_params = {
    'dbname': 'test',
    'user': 'airflow',
    'password': 'airflow',
    'host': 'localhost',
    'port': '5432'
}

In [ ]:

def unload_mong_to_stg(collection_name):
    import psycopg2
    from pymongo import MongoClient
    from datetime import datetime, timezone
    import json

    def get_mongo_data(collection_name, cursor_date, url='1.mongo.lr:30001', schema='restaurant_db'):
        """Выгружаем данные из mongo в виде списка словарей."""

        client = MongoClient(url)
        db = client[schema]
        collection = db[collection_name]

        #cursor_date = datetime.fromisoformat(cursor_date).replace(tzinfo=timezone.utc)
        data = list(collection.find({'update_time': {'$gt': cursor_date}}))
        for row in data:
            row['_id'] = str(row['_id'])
            row['update_time'] = row['update_time'].isoformat()

        return data

    def upload_mongo_to_postrges(data, table_name, db_params):
        """ Загружаем данные в staging. """
        time = datetime.now()
        conn = psycopg2.connect(**db_params)

        for row in data:
            values_json = json.dumps(row, ensure_ascii=False)
            cur = conn.cursor()
            cur.execute(
                f"INSERT INTO staging_mng_{table_name} (table_name, time, values) VALUES (%s, %s, %s)",
                (table_name, time, values_json)
            )
            conn.commit()
            cur.close()
        conn.close()

    db_params = {
        'dbname': 'test',
        'user': 'airflow',
        'password': 'airflow',
        'host': 'postgres',
        'port': '5432'
    }

    data = get_mongo_data(collection_name=collection_name, cursor_date='2020-01-01 09:00:00')
    upload_mongo_to_postrges(data=data, table_name=collection_name, db_params=db_params)

In [10]:
import psycopg2
from pymongo import MongoClient
from datetime import datetime, timezone
import json

def get_mongo_data(collection_name, cursor_date, url='localhost:30001', schema='restaurant_db'):
    """Выгружаем данные из mongo в виде списка словарей."""

    client = MongoClient(url)
    db = client[schema]
    collection = db[collection_name]

    cursor_date = datetime.fromisoformat(cursor_date).replace(tzinfo=timezone.utc)
    data = list(collection.find({'update_time': {'$gt': cursor_date}}))
    for row in data:
        row['_id'] = str(row['_id'])
        row['update_time'] = row['update_time'].isoformat()

    return data

def upload_mongo_to_postrges(data, table_name, db_params):
    """ Загружаем данные в staging. """
    time = datetime.now()
    conn = psycopg2.connect(**db_params)

    for row in data:
        values_json = json.dumps(row, ensure_ascii=False)
        cur = conn.cursor()
        cur.execute(
            f"INSERT INTO staging_mng_{table_name} (table_name, time, values) VALUES (%s, %s, %s)",
            (table_name, time, values_json)
        )
        conn.commit()
        cur.close()
    conn.close()

In [150]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

db_params = {
    'dbname': 'test',
    'user': 'airflow',
    'password': 'airflow',
    'host': 'localhost',
    'port': '5432'
}

In [151]:
def get_data_from_postgres(sql_query, db_params):
    """Возвращает данные из PostgreSQL в виде списка кортежей."""

    conn = psycopg2.connect(**db_params)
    cur = conn.cursor()

    cur.execute(sql_query)
    data = cur.fetchall()

    column_names = [desc[0] for desc in cur.description]
    cur.close()
    conn.close()

    return data, column_names

In [167]:
sql_query = """with flat_table as (
	select 	dm.deliveryman_id, name, d.delivery_id, o.order_id, rating,
			tips, o.client_id, cost, EXTRACT(MONTH FROM date(order_date)) as ord_month,
	CASE
	        WHEN rating < 8 THEN GREATEST(cost  * 0.05, 400) 
	        WHEN rating >= 10 THEN LEAST(cost * 0.1, 1000)
	        ELSE NULL
	    end as deliveryman_order_income 
	from dds_deliveryman as dm 
	join dds_delivery as d on dm.deliveryman_id = d.deliveryman_id 
	join dds_orders as o on o.order_id = d.order_id
	)


select  deliveryman_id, name, ord_month, count(delivery_id) as orders_amount, sum (cost) as orders_total_cost, 
		cast(AVG(rating) as FLOAT) as avg_rating, sum(cost) * 0.5  as company_commission,
		SUM(deliveryman_order_income) as sum_income, sum(tips) as tips
from flat_table
group by deliveryman_id, name, ord_month
order by deliveryman_id;"""

In [168]:
data, column_names = get_data_from_postgres(sql_query, db_params)

In [169]:
df = pd.DataFrame(data, columns=column_names)

In [171]:
conn = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5432/test')
df.to_sql('dm_delivery_calculation', con=conn, if_exists='replace', index=False)

3

In [ ]:
staging_api_deliveryman dds_deliveryman staging_api_delivery dds_delivery

In [7]:
def upload_to_dds_delivery(stg_table, dds_table, cursor_date): 
    data = get_stg_data(stg_table, cursor_date)
    df = pd.DataFrame(data)
    conn = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5432/test')
    df.to_sql(dds_table, con=conn, if_exists='append', index=False)

In [8]:
upload_to_dds('staging_api_deliveryman', 'dds_deliveryman', cursor_date)
upload_to_dds('staging_api_delivery', 'dds_delivery', cursor_date)

    deliveryman_id                   name          update_time
0                1   Caesar the Conqueror  2024-05-27 20:48:07
1                2       Darius the Great  2024-05-27 20:48:04
2                3   Eleanor of Aquitaine  2024-05-27 20:48:07
3                4    Frederick the Great  2024-05-27 20:48:04
4                5           Genghis Khan  2024-05-27 20:48:07
5                6        Harun al-Rashid  2024-05-27 20:48:04
6                7    Isabella of Castile  2024-05-27 20:48:07
7                8            Justinian I  2024-05-27 20:48:04
8                9            Kublai Khan  2024-05-27 20:48:07
9               10              Louis XIV  2024-05-27 20:48:04
10              11             Mansa Musa  2024-05-27 20:48:07
11              12     Napoleon Bonaparte  2024-05-27 20:48:04
12              13           Oda Nobunaga  2024-05-27 20:48:07
13              14              Pachacuti  2024-05-27 20:48:04
14              15      Queen Elizabeth I  2024-05-27 20:48:07
15              16              Ramses II  2024-05-27 20:48:04
16              17             Shaka Zulu  2024-05-27 20:48:07
17              18              Tamerlane  2024-05-27 20:48:04
18              19       Ulysses S. Grant  2024-05-27 20:48:07
19              20       Vlad the Impaler  2024-05-27 20:48:04
20              21  William the Conqueror  2024-05-27 20:48:07
21              22               Xerxes I  2024-05-27 20:48:04
22              23      Yaroslav the Wise  2024-05-27 20:48:07
23              24                Zenobia  2024-05-27 20:48:04

,order_id,order_date_created,delivery_id,deliveryman_id,delivery_address,delivery_time,rating,tips
0,1,2024-01-01 10:00:00,1,1,"123 Main St, Anytown, USA",2024-01-01 12:00:00,5,100
1,2,2024-01-02 11:00:00,2,2,"456 Elm St, Anytown, USA",2024-01-02 13:00:00,4,50
2,3,2024-01-03 10:00:00,3,3,"789 Oak St, Anytown, USA",2024-01-03 12:00:00,5,150

In [27]:
def upload_restuarn_menu(cursor_date):
    #----restuarn-----
    data = get_stg_data('staging_mng_restaurants', cursor_date)
    conn = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5432/test')
    df = pd.DataFrame(data)
    select_cols = [i for i in df.columns if i not in ['_id', 'menu']]
    df = df[select_cols]
    df.to_sql('dds_restaurants', con= conn, if_exists='append', index=False)
    
    #----menu-----
    menu = []
    for row in data:
        for i in row['menu']:  
            menu.append(i)

    df = pd.DataFrame(menu)
    select_cols = [i for i in df.columns if i not in ['id']]
    df = df[select_cols]
    df.to_sql('dds_menu', con=conn, if_exists='append', index=False)
    
    
    #----menu-_resturan----
    rest_list = []
    menu_list = []
    for row in data:
        r_id = row['restaurant_id']
        for m_row in row['menu']:
            rest_list.append(r_id)
            menu_list.append(m_row['menu_id'])
            
    df = pd.DataFrame()
    df['restaurant_id'] = rest_list
    df['menu_id'] = menu_list
    df.to_sql('dds_menu_restauran', con=conn, if_exists='append', index=False)

In [109]:
def upload_orders_dish_status(cursor_date):
    conn = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5432/test')
    
    #-----oreders-------
    data = get_stg_data('staging_mng_orders', cursor_date)
    df = pd.DataFrame(data)
    select_cols = [i for i in df.columns if i not in ['_id', 'statuses', 'ordered_dish']]
    df = df[select_cols]
    df.to_sql('dds_orders', con=conn, if_exists='append', index=False)

    #-----dish-------
    dish = []
    for row in data:
        for i in row['ordered_dish']:
            dish.append(i)
    
    df = pd.DataFrame(dish)
    select_cols = [i for i in df.columns if i not in ['id']]
    df = df[select_cols]
    df.to_sql('dds_dish', con=conn, if_exists='append', index=False)

    #-----dds_orders_dish-------
    order_list = []
    dish_list = []
    for row in data:
        r_id = row['order_id']
        for m_row in row['ordered_dish']:
            order_list.append(r_id)
            dish_list.append(m_row['dish_id'])

    df = pd.DataFrame()
    df['order_id'] = order_list
    df['dish_id'] = dish_list
    df.to_sql('dds_orders_dish', con=conn, if_exists='append', index=False)

    #-----dds_status-------
    status = []
    for row in data:
        for i in row['statuses']:
            status.append(i)

    df = pd.DataFrame(status)
    df.to_sql('dds_status', con=conn, if_exists='append', index=False)

    #-----dds_status_orders-------
    order_list = []
    status_list = []
    for row in data:
        r_id = row['order_id']
        for m_row in row['statuses']:
            order_list.append(r_id)
            status_list.append(m_row['status_id'])

    df = pd.DataFrame()
    df['order_id'] = order_list
    df['status_id'] = status_list
    df.to_sql('dds_status_orders', con=conn, if_exists='append', index=False)

In [149]:
def upload_orders_dish_status(cursor_date):
    conn = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5432/test')
    
    #-----clients----
    data = get_stg_data('staging_mng_clients', cursor_date)
    df = pd.DataFrame(data)
    select_cols = [i for i in df.columns if i not in ['_id', 'statuses', 'ordered_dish']]
    df = df[select_cols]
    data = get_stg_data('staging_pstg_client', cursor_date)
    df_client = pd.DataFrame(data)
    df = df.merge(df_client, on='client_id', how ='left')
    df['birthday'] = df['birthday'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y').strftime('%Y-%m-%d'))
    df.to_sql('dds_clients', con=conn, if_exists='append', index=False)

    #-----category----
    data = get_stg_data('staging_pstg_category', cursor_date)
    df = pd.DataFrame(data)
    df.to_sql('dds_category', con=conn, if_exists='append', index=False)